.auto {
  padding: 96px 120px;
  background: var(--svetlo-siniy);
  border-radius: 40px;
  position: relative;
  overflow: hidden;

  @include tablet {
    padding: 60px 20px;
    padding-bottom: 0;
    margin: 0 20px;
  }

  @include small-tablet {
    padding: 44px 30px 0;
  }

  &::after {
    content: "";
    position: absolute;
    right: 140px;
    top: 0;
    transform: translateY(-50%);
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: var(--belyy);

    @include tablet {
      display: none;
    }
  }

  &__image {
    position: absolute;
    height: 70%;
    bottom: 0;
    right: 130px;

    @include big-desktop {
      right: 50px;
      height: 50%;
    }

    @include tablet {
      position: relative;
      height: 300px;
      width: auto;
      grid-column: 1 span;
      justify-self: flex-end;
    }

    @include mobile {
      display: grid;
      margin: 0;
      right: 0;
      justify-self: flex-end;
      align-items: flex-end;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__title {
    margin-bottom: 60px;

    @include big-desktop {
      margin-bottom: 50px;
    }

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    grid-column: 7 span;
    position: relative;
    z-index: 4;

    @include tablet {
      grid-column: 1 span;
    }
  }

  &__list {
    margin-bottom: 60px;

    @include small-tablet {
      margin-bottom: 32px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;

    font-weight: 300;
    font-size: 18px;
    line-height: 156%;
    color: var(--chernyy);

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      gap: 12px;
      font-size: 13px;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 12px;
      background-color: var(--belyy);
      background-image: url("./../img/check-green.svg");
      background-position: center center;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      flex-shrink: 0;

      @include mobile {
        width: 32px;
        height: 32px;
        background-size: 16px 16px;
      }
    }
  }

  &__desc {
    max-width: 620px;
    margin-bottom: 60px;

    @include big-desktop {
      margin-bottom: 50px;
    }

    @include tablet {
      margin-bottom: 32px;
    }
  }

  &__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 540px;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__btn {
    padding: 24px 60px;

    @include tablet {
      padding: 21px 48px;
    }

    @include small-tablet {
      font-size: 16px;
    }

    @include mobile {
      width: 100%;
      padding: 30px;
      text-align: center;
      border-radius: 15px;
    }
  }

  &__price {
    font-weight: 300;
    font-size: 18px;
    line-height: 156%;
    color: var(--chernyy);

    @include mobile {
      font-size: 13px;
    }

    span {
      font-weight: 400;
      font-size: 32px;
      line-height: 125%;
      color: var(--siniy1);

      @include tablet {
        font-size: 24px;
      }

      @include mobile {
        font-size: 22px;
      }
    }
  }
}