.header {
  position: relative;
  z-index: 12;
  background-color: var(--belyy);

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .1s ease-out;


  }

  @include mobile {
    max-height: 40vh;
  }

  &__dropdown {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    overflow: auto;
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;

    @include small-tablet {
      left: unset;
      transform: unset;
      margin-left: 0;
    }
  }

  &__top {
    padding: 10px 0;
    background-color: var(--siniy2);
    position: relative;
    z-index: 10;

    @include small-tablet {
      display: none;
    }
  }

  &__nav {}

  &__city {
    padding: 11px 20px;
    border-radius: 15px;
    background-color: var(--belyy);

    display: flex;
    align-items: center;
    gap: 12px;

    svg {
      display: block;
      width: 18px;
      height: 18px;
      object-fit: contain;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      color: var(--chernyy);
    }
  }

  &__logo {
    grid-column: 2 span;
    display: flex;
    align-items: center;
    width: 200px;
    height: 60px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include big-desktop {
      grid-column: 1 span;
      width: 150px;
      height: 40px;
    }

    @include tablet {
      width: 68px;
      height: 48px;
    }
  }
}

.header-top {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-bottom {
  padding: 40px 0;

  @include tablet {
    padding: 20px 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 20px;

    @include small-tablet {
      display: flex;
      justify-content: space-between;
    }

    @include small-tablet {
      padding-bottom: 12px;
    }
  }

  &__right {
    grid-column: 3 / 10 span;

    display: flex;
    align-items: center;

    @include big-desktop {
      grid-column: 11 span;
      justify-content: space-evenly;
    }

    @include tablet {
      grid-column: 3 / 10 span;
      justify-content: space-around;
    }
  }

  &__btn {

    display: inline-flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
    background-color: var(--siniy1);
    padding: 16px 30px;
    border-radius: 15px;
    transition: background-color .3s ease-out, color .3s ease-out;
    height: 60px;

    &::before {
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      background-image: url('./../img/burger.svg');
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @include big-desktop {
      padding: 22px 15px;
      flex-shrink: 0;
    }

    @include tablet {
      height: 50px;
    }

    svg {
      flex-shrink: 0;
      width: 22px;
      height: 22px;
      object-fit: contain;
    }

    span {
      font-weight: 500;
      font-size: 18px;
      line-height: 1;
      color: var(--belyy);

      @include big-desktop {
        font-size: 16px;
      }

      @media (max-width: 1160px) {
        display: none;
      }
    }
  }

  &__form {
    position: relative;

    @include small-tablet {
      display: none;
    }
  }

  &__input {
    display: block;
    width: 527px;
    height: 60px;
    border: 2px solid var(--siniy1);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 50px;

    @include for-desktop {
      width: 380px;
    }

    @include tablet {
      width: 300px;
      height: 50px;
    }
  }

  &__search {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);

    svg {
      width: 100%;
      height: 100%;
    }

    @include tablet {
      width: 18px;
      height: 18px;
      right: 14px;
    }
  }

  &__call {
    display: flex;
    align-items: center;
    gap: 16px;

    @include tablet {
      gap: 8px;
    }

    @include small-tablet {
      display: none;
    }
  }

  &__phones {}
}

.tt {
  padding: 0 40px;

  @include big-desktop {
    padding: 0 20px;
  }

  @include tablet {
    padding: 0 10px;
  }

  @include small-tablet {
    display: none;
  }

  &__capture {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--chernyy);

    @include tablet {
      font-size: 12px;
      margin-bottom: 6px;
    }
  }

  &__value {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: var(--chernyy);

    @include tablet {
      font-size: 14px;
    }
  }
}

.phone {
  &__icon {
    width: 60px;
    height: 60px;
    border: 2px solid var(--svetlo-siniy);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @include big-desktop {
      width: 45px;
      height: 45px;
      border-radius: 10px;
    }

    @include tablet {
      width: 30px;
      height: 30px;
    }

    svg {
      width: 24px;
      height: 24px;
      object-fit: contain;

      @include big-desktop {
        width: 20px;
        height: 20px;
      }

      @include tablet {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__link {
    display: block;

    font-weight: 400;
    font-size: 22px;
    line-height: 145%;
    color: var(--chernyy);

    @include big-desktop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 14px;
    }

    @include hover {
      text-decoration: underline;
    }
  }
}

.header-mob {
  display: none;

  @include small-tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 2px solid var(--svetlo-siniy);
  }

  &__link {
    display: flex;
    flex-direction: column;
  }

  &__cap {
    font-weight: 300;
    font-size: 8px;
    line-height: 212%;
    color: var(--chernyy);
  }

  &__tel {
    font-weight: 500;
    font-size: 10px;
    line-height: 170%;
    color: var(--siniy2);
  }
}


.header.active {
  .header-bottom {
    &__btn {
      &::before {
        background-image: url('./../img/cross.svg');
      }
    }
  }
}