.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 30px;

    @include tablet {
      gap: 25px;
    }
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: var(--belyy);

    @include tablet {
      font-size: 12px;
    }
  }
}