.objects {
  padding: 140px 0;

  @include big-desktop {
    padding: 100px 0;
  }

  @include tablet {
    padding: 60px 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 28px;
    font-weight: 500;
    font-size: 54px;
    line-height: 1;
    color: var(--siniy2);

    span {
      color: var(--siniy1);
    }

    @include big-desktop {
      font-size: 48px;
      margin-bottom: 22px;
    }

    @include tablet {
      font-size: 38px;
      margin-bottom: 18px;
    }

    @include small-tablet {
      font-size: 30px;
      margin-bottom: 24px;
    }
  }

  &__desc {
    margin: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    color: var(--siniy2);

    @include big-desktop {
      font-size: 28px;
    }

    @include tablet {
      font-size: 22px;
    }

    @include small-tablet {
      max-width: 300px;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: var(--chernyy);
    border-radius: 12px;
    padding: 22px 30px;
    background-color: var(--svetlo-siniy);

    transition: background-color .3s ease-out, color .3s ease-out;

    @include hover {
      color: var(--siniy1);
    }

    @include big-desktop {
      font-size: 16px;
      padding: 22px;
    }

    @include tablet {
      padding: 18px 20px;
    }



    @include small-tablet {
      display: none;
      padding: 20px 30px;
    }

    &--mob {
      display: none;
      margin-top: 32px;

      @include small-tablet {
        display: inline-flex;
      }
    }
  }

  &__swiper-btn {
    display: none;
    width: 32px;
    height: 32px;
    animation: swipe 8s ease-in infinite;
    flex-shrink: 0;

    @include small-tablet {
      display: block;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-sizing: border-box;

    @include small-tablet {
      display: flex;
      gap: 0;
      align-items: stretch;
    }

    .swiper-slide {
      box-sizing: border-box;
      width: auto;
      height: auto;
    }
  }
}


.object {
  border: 2px solid var(--svetlo-siniy);
  border-radius: 40px;
  padding: 20px;
  padding-bottom: 40px;
  transition: border-color .3s ease-out;
  height: 100%;
  position: relative;

  @include tablet {
    border-radius: 20px;
    padding: 16px;
  }

  @include small-tablet {
    width: 260px;
  }

  @include hover {
    border-color: var(--siniy1);

    .object__link {
      background-color: var(--siniy1);

      span {
        opacity: 1;
      }

      svg {
        fill: var(--belyy);
      }
    }
  }

  &__link {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: var(--belyy);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    gap: 8px;
    overflow: hidden;
    transition: background-color .3s ease-out, max-width .3s ease-out;
    will-change: max-width;


    @include tablet {
      top: 10px;
      left: 10px;

      height: 30px;
      max-width: 30px;
      border-radius: 5px;
      padding: 7px;
    }

    svg {
      width: 26px;
      height: 26px;
      flex-shrink: 0;
      object-fit: contain;
      fill: var(--chernyy);

      transition: fill .3s ease-out;

      @include tablet {
        width: 16px;
        height: 16px;
      }
    }

    span {
      position: relative;
      z-index: 3;
      opacity: 0;
      font-weight: 400;
      font-size: 18px;
      line-height: 156%;
      color: #fff;
    }
  }

  &__image {
    position: relative;
    border-radius: 22px;
    overflow: hidden;
    margin-bottom: 40px;

    @include tablet {
      border-radius: 16px;
      margin-bottom: 20px;
    }
  }

  &__content {
    padding: 0 10px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 22px;
    line-height: 145%;
    color: var(--chernyy);
    max-width: 280px;

    @include tablet {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    display: block;
    width: 100%;
    background-color: var(--svetlo-siniy);
    border-radius: 15px;
    padding: 22px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: var(--chernyy);
    text-align: center;
    margin-top: auto;

    transition: color .3s ease-out;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
    }

    @include hover {
      color: var(--siniy1);
    }

    @include tablet {
      padding: 18px 20px;
      font-size: 16px;
    }


  }
}


@keyframes swipe {
  0% {
    transform: translateX(15px);
  }

  5% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(15px);
  }

  25% {
    transform: translateX(0);
  }
}

.obj-char {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @include small-tablet {
    display: none;
  }

  &__value {
    font-weight: 300;
    font-size: 18px;
    line-height: 156%;
    text-align: right;
    color: var(--chernyy);

    @include tablet {
      font-size: 16px;
    }

    span {
      font-weight: 500;
      font-size: 22px;
      line-height: 145%;
      color: var(--siniy1);

      @include tablet {
        font-size: 20px;
      }
    }
  }
}


.objects--gates {
  .object__title {
    margin-bottom: 30px;
  }
}