.prod {
  padding-bottom: 220px;

  @include big-desktop {}

  @include tablet {
    padding-bottom: 80px;
  }

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    @include tablet {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__content {
    grid-column: 7 span;
    background: var(--svetlo-siniy);
    padding: 90px 120px;
    border-radius: 40px;
    position: relative;
    z-index: 3;
    max-width: 100%;

    @include big-desktop {
      padding: 90px;
    }

    @include small-tablet {
      padding: 40px 30px;
      grid-column: 1 span;
    }
  }

  &__title {
    margin-bottom: 62px;
    font-weight: 500;
    font-size: 54px;
    line-height: 115%;

    @include tablet {
      margin-bottom: 50px;
      font-size: 48px;
    }

    @include small-tablet {
      margin-bottom: 32px;
      font-size: 30px;
      line-height: 120%;
    }
  }

  &__desc {
    margin-bottom: 90px;

    @include tablet {
      margin-bottom: 50px;
    }

    @include small-tablet {
      margin-bottom: 32px;
    }
  }

  &__extra {
    padding: 40px;
    background: var(--belyy);
    border-radius: 40px;

    p {


      span {
        color: var(--siniy1);
      }
    }
  }

  &__slider {
    position: absolute;
    right: 0;
    bottom: -80px;
    width: 840px;
    height: 688px;


    @include big-desktop {
      width: 740px;
      height: 588px;
      bottom: -40px;
    }

    @include tablet {
      bottom: unset;
      right: unset;
      position: relative;
      grid-column: 1 span;
      margin: 0;
      margin-left: -20px;
      margin-top: -20px;
      width: calc(100% + 40px);
      height: auto;
    }

    .swiper-slide {
      border-radius: 0 0 40px;
      box-sizing: border-box;
      width: 100% !important;
      height: 100%;
    }
  }

  &__image {
    border-radius: 40px;
    border-top-right-radius: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    @include tablet {
      border-radius: 24px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__control {
    position: absolute;
    z-index: 7;
    display: flex;
    align-items: center;
    gap: 8px;
    right: 0;
    bottom: unset;
    top: 0;
    border-radius: 0;
    border-bottom-left-radius: 40px;
    padding-top: 0;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 20px;

    @include big-desktop {
      right: 0;
    }

    @include tablet {
      top: unset;
      padding-bottom: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 24px;
      padding-top: 20px;
      padding-left: 20px;
      bottom: 0;
      right: 0;
    }
  }

  &__btn {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--siniy1);
    box-shadow: 0 14px 32px 0 rgba(11, 131, 242, 0.3);
    background: var(--siniy1);
    transform: rotate(-180deg);
  }

}