.texture {
  padding-bottom: 140px;

  @include big-desktop {
    padding-bottom: 80px;
  }

  @include tablet {
    padding-bottom: 60px;
  }

  &__title {
    max-width: 500px;
    margin-bottom: 62px;

    @include big-desktop {
      margin-bottom: 50px;
    }

    @include small-tablet {
      max-width: unset;
      margin-bottom: 32px;
    }

    span {
      color: var(--siniy1);
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
  }

  &__content {
    grid-column: 5 span;
  }

  &__image {
    grid-column: 7 span;
    padding-left: 80px;

    @include small-tablet {
      padding-left: 0;
    }

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.texture-item {
  &__color {
    height: 120px;
    padding: 10px;
    border: 2px solid var(--svetlo-siniy);
    border-radius: 22px;
    margin-bottom: 12px;

    @include big-desktop {
      height: 100px;
    }

    @include small-tablet {
      height: 74px;
      padding: 6px;
      border-radius: 15px;
      margin-bottom: 8px;
    }

    div {
      height: 100%;
      width: 100%;
      border-radius: 12px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__name {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: var(--chernyy);

    @include small-tablet {
      font-size: 16px;
    }

    @include mobile {
      font-size: 13px;
    }
  }
}