<section class="auto">
  <div class="container auto__container">
    <div class="auto__content">
      <h2 class="title2 auto__title">
        Автоматика для откатных
        ворот в наличии «Alutech»
      </h2>
      <ul class="auto__list list-reset">
        <li class="auto__item">используем электродвигатели ведущих производителей</li>
        <li class="auto__item">предоставляем гарантию на комплектующие</li>
        <li class="auto__item">производим техническое обслуживание и ремонт изделий</li>
      </ul>
      <p class="desc auto__desc">
        Приобрести автоматику для откатных ворот, а также
        пульты ДУ и различные
        аксессуары можно в интернет магазине.
      </p>
      <div class="auto__order">
        <span class="auto__price">
          цена: <span>24 000 ₽</span>
        </span>
        <a href="#" class="btn auto__btn">Приобрести</a>
      </div>
    </div>

    <div class="auto__image">
      <picture>
        <source srcset="./img/auto-2x.webp" media="(min-width: 1900px)">
        <source srcset="./img/auto.webp">
        <img src="./img/auto.png" srcset="./img/auto-2x.png 2x" alt="">
      </picture>
    </div>
  </div>
</section>