<section class="color">
  <div class="container">
    <h2 class="title2 color__title">
      <span>Цветовые</span> решение откатных ворот
    </h2>
    <p class="color__desc desc">
      Воротные системы предлагает <span>порошковую окраску изделий в 23 стандартных цвета по каталогу RAL.</span>
      Порошковая окраска
      позволяет получить полимерное покрытие изделий с
      высокими защитными и декоративными свойствами. Краска не выгорает и не выцветает много лет.
    </p>
    <div class="color__items">
      <div class="color-item color__item">
        <div class="color-item__color n9005">
          <div></div>
        </div>
        <span class="color-item__text">9005</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n7016">
          <div></div>
        </div>
        <span class="color-item__text">7016</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n7024">
          <div></div>
        </div>
        <span class="color-item__text">7024</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n8019">
          <div></div>
        </div>
        <span class="color-item__text">8019</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n8017">
          <div></div>
        </div>
        <span class="color-item__text">8017</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n8014">
          <div></div>
        </div>
        <span class="color-item__text">8014</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n7040">
          <div></div>
        </div>
        <span class="color-item__text">7040</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n7004">
          <div></div>
        </div>
        <span class="color-item__text">7004</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n9006">
          <div></div>
        </div>
        <span class="color-item__text">9006</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n7038">
          <div></div>
        </div>
        <span class="color-item__text">7038</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n9016">
          <div></div>
        </div>
        <span class="color-item__text">9016</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n9003">
          <div></div>
        </div>
        <span class="color-item__text">9003</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n3005">
          <div></div>
        </div>
        <span class="color-item__text">3005</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n3004">
          <div></div>
        </div>
        <span class="color-item__text">3004</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n3003">
          <div></div>
        </div>
        <span class="color-item__text">3003</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n2004">
          <div></div>
        </div>
        <span class="color-item__text">2004</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n1018">
          <div></div>
        </div>
        <span class="color-item__text">1018</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n1015">
          <div></div>
        </div>
        <span class="color-item__text">1015</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n5002">
          <div></div>
        </div>
        <span class="color-item__text">5002</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n5005">
          <div></div>
        </div>
        <span class="color-item__text">5005</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n5010">
          <div></div>
        </div>
        <span class="color-item__text">5010</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n6005">
          <div></div>
        </div>
        <span class="color-item__text">6005</span>
      </div>
      <div class="color-item color__item">
        <div class="color-item__color n6018">
          <div></div>
        </div>
        <span class="color-item__text">6018</span>
      </div>
    </div>
  </div>
</section>