<section class="cta">
  <div class="container">
    <h2 class="cta__title">
      <span>Проверьте наш</span>
      <span>профессионализм</span>

      <span class="mob">
        Проверьте
      </span>
      <span class="mob">
        наш профес-
      </span>
      <span class="mob">
        сионализм
      </span>
    </h2>
    <p class="cta__desc">
      <span>пригласите замерщика</span> <span>инженера с опытом работы</span> <span>15 лет</span>
    </p>
    <a href="tel:+78009543378" class="cta__link">8 (800) 954-33-78</a>
    <div class="cta__row">
      <ul class="list-reset cta__list">
        <li class="cta__item">
          <span>
            проконсультирую и предложу
            решения для вашего участка
          </span>
        </li>
        <li class="cta__item">
          <span>
            рассчитаю стоимость
            и буду руководить работами
            до ввода в эксплуатацию
          </span>
        </li>
      </ul>

      <button class="btn-reset btn cta__btn">Оставить заявку</button>
    </div>
  </div>
</section>