<section class="documents">
  <div class="container">
    <div class="info-slider__header">
      <h2 class="title2 team__title"><span>Лицензии</span> и сертификаты</h2>
      <div class="info-slider__control">
        <button class="btn-reset info-slider__btn info-slider__btn--prev doc-btn-prev">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18.3338 9.16657H3.67881L8.08964 4.75574C8.16923 4.67887 8.23272 4.58691 8.27639 4.48524C8.32007 4.38357 8.34305 4.27422 8.34402 4.16357C8.34498 4.05292 8.32389 3.94319 8.28199 3.84078C8.24009 3.73836 8.17821 3.64532 8.09997 3.56708C8.02172 3.48883 7.92868 3.42695 7.82627 3.38505C7.72385 3.34315 7.61412 3.32207 7.50347 3.32303C7.39282 3.32399 7.28347 3.34698 7.1818 3.39065C7.08013 3.43433 6.98818 3.49781 6.91131 3.57741L1.07797 9.41074C0.921747 9.56701 0.833984 9.77893 0.833984 9.9999C0.833984 10.2209 0.921747 10.4328 1.07797 10.5891L6.91131 16.4224C7.06847 16.5742 7.27898 16.6582 7.49747 16.6563C7.71597 16.6544 7.92498 16.5668 8.07949 16.4123C8.23399 16.2577 8.32164 16.0487 8.32353 15.8302C8.32543 15.6117 8.24144 15.4012 8.08964 15.2441L3.67881 10.8332H18.3338C18.5548 10.8332 18.7668 10.7454 18.9231 10.5892C19.0793 10.4329 19.1671 10.2209 19.1671 9.9999C19.1671 9.77889 19.0793 9.56693 18.9231 9.41065C18.7668 9.25437 18.5548 9.16657 18.3338 9.16657Z"
              fill="#0B83F2" />
          </svg>
        </button>
        <button class="btn-reset info-slider__btn info-slider__btn--next doc-btn-next">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18.3338 9.16657H3.67881L8.08964 4.75574C8.16923 4.67887 8.23272 4.58691 8.27639 4.48524C8.32007 4.38357 8.34305 4.27422 8.34402 4.16357C8.34498 4.05292 8.32389 3.94319 8.28199 3.84078C8.24009 3.73836 8.17821 3.64532 8.09997 3.56708C8.02172 3.48883 7.92868 3.42695 7.82627 3.38505C7.72385 3.34315 7.61412 3.32207 7.50347 3.32303C7.39282 3.32399 7.28347 3.34698 7.1818 3.39065C7.08013 3.43433 6.98818 3.49781 6.91131 3.57741L1.07797 9.41074C0.921747 9.56701 0.833984 9.77893 0.833984 9.9999C0.833984 10.2209 0.921747 10.4328 1.07797 10.5891L6.91131 16.4224C7.06847 16.5742 7.27898 16.6582 7.49747 16.6563C7.71597 16.6544 7.92498 16.5668 8.07949 16.4123C8.23399 16.2577 8.32164 16.0487 8.32353 15.8302C8.32543 15.6117 8.24144 15.4012 8.08964 15.2441L3.67881 10.8332H18.3338C18.5548 10.8332 18.7668 10.7454 18.9231 10.5892C19.0793 10.4329 19.1671 10.2209 19.1671 9.9999C19.1671 9.77889 19.0793 9.56693 18.9231 9.41065C18.7668 9.25437 18.5548 9.16657 18.3338 9.16657Z"
              fill="#0B83F2" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="info-slider documents__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="info-slider__slide">
          <div class="info-slider__image">
            <img src="./img/documents/01.jpg" alt="" />
          </div>
          <div class="info-slider__content">
            <p class="info-slider__desc">название сертификата</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="info-slider__slide">
          <div class="info-slider__image">
            <img src="./img/documents/02.jpg" alt="" />
          </div>
          <div class="info-slider__content">
            <p class="info-slider__desc">
              некоторая лицензия и ее название для сайта
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="info-slider__slide">
          <div class="info-slider__image">
            <img src="./img/documents/03.jpg" alt="" />
          </div>
          <div class="info-slider__content">
            <p class="info-slider__desc">
              сертификат соответствия чего-то либо
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="info-slider__slide">
          <div class="info-slider__image">
            <img src="./img/documents/01.jpg" alt="" />
          </div>
          <div class="info-slider__content">
            <p class="info-slider__desc">название сертификата</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="info-slider__slide">
          <div class="info-slider__image">
            <img src="./img/documents/02.jpg" alt="" />
          </div>
          <div class="info-slider__content">
            <p class="info-slider__desc">
              некоторая лицензия и ее название для сайта
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="info-slider__slide">
          <div class="info-slider__image">
            <img src="./img/documents/03.jpg" alt="" />
          </div>
          <div class="info-slider__content">
            <p class="info-slider__desc">
              сертификат соответствия чего-то либо
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="info-slider__slide">
          <div class="info-slider__image">
            <img src="./img/documents/01.jpg" alt="" />
          </div>
          <div class="info-slider__content">
            <p class="info-slider__desc">название сертификата</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="info-slider__slide">
          <div class="info-slider__image">
            <img src="./img/documents/02.jpg" alt="" />
          </div>
          <div class="info-slider__content">
            <p class="info-slider__desc">
              некоторая лицензия и ее название для сайта
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="info-slider__slide">
          <div class="info-slider__image">
            <img src="./img/documents/03.jpg" alt="" />
          </div>
          <div class="info-slider__content">
            <p class="info-slider__desc">
              сертификат соответствия чего-то либо
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>