<section class="extra">
  <div class="container">
    <h2 class="title2 extra__title">Возможно вам будет интересно</h2>
  </div>
  <div class="container products__container extra__container">
    <div class="products__item prod-item">
      <h3 class="prod-item__title">Навесы</h3>
      <div class="prod-item__images">
        <div class="prod-item__image">
          <picture>
            <source srcset="./img/canopy/01.webp">
            <img src="./img/canopy/01.png" srcset="./img/canopy/01.png 2x" alt="canopy">
          </picture>
        </div>
        <div class="prod-item__image">
          <picture>
            <source srcset="./img/canopy/02.webp">
            <img src="./img/canopy/02.png" srcset="./img/canopy/02.png 2x" alt="canopy">
          </picture>
        </div>
      </div>
    </div>
    <div class="products__item prod-item">
      <h3 class="prod-item__title">Заборы</h3>
      <div class="prod-item__images">
        <div class="prod-item__image">
          <picture>
            <source srcset="./img/fence/01.webp">
            <img src="./img/fence/01.png" srcset="./img/fence/01.png 2x" alt="fence">
          </picture>
        </div>
        <div class="prod-item__image">
          <picture>
            <source srcset="./img/fence/02.webp">
            <img src="./img/fence/02.png" srcset="./img/fence/02.png 2x" alt="fence">
          </picture>
        </div>
      </div>
    </div>
    <div class="products__item prod-item">
      <h3 class="prod-item__title">Козырьки</h3>
      <div class="prod-item__images">
        <div class="prod-item__image">
          <picture>
            <source srcset="./img/visor/01.webp">
            <img src="./img/visor/01.png" srcset="./img/visor/01.png 2x" alt="visor">
          </picture>
        </div>
        <div class="prod-item__image">
          <picture>
            <source srcset="./img/visor/02.webp">
            <img src="./img/visor/02.png" srcset="./img/visor/02.png 2x" alt="visor">
          </picture>
        </div>
      </div>
    </div>
    <div class="products__item prod-item">
      <h3 class="prod-item__title">Решетки<br>на окна</h3>
      <div class="prod-item__images">
        <div class="prod-item__image">
          <picture>
            <source srcset="./img/grid/01.webp">
            <img src="./img/grid/01.png" srcset="./img/grid/01.png 2x" alt="grid">
          </picture>
        </div>
        <div class="prod-item__image">
          <picture>
            <source srcset="./img/grid/02.webp">
            <img src="./img/grid/02.png" srcset="./img/grid/02.png 2x" alt="grid">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>