<section class="faq">
  <div class="container">
    <h2 class="title2 faq__title">Часто задаваемые вопросы</h2>
    <div class="faq__items">
      <ul class="faq__col list-reset">
        <li class="faq__item">
          <div class="faq__header">
            <h4 class="faq__name" data-faq="01">Какая автоматика подходит для откатных ворот?</h4>
          </div>
          <div class="faq__content">
            <p>
              Рекомендуем высокопроизводительные приводы ALUTECH Roteo. Они оснащены электроникой и отличаются
              изысканным
              дизайном, поэтому станут идеальным дополнением откатных ворот ALUTECH.
            </p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__header">
            <h4 class="faq__name" data-faq="02">Чем отличаются сдвижные ворота от откатных?</h4>
          </div>
          <div class="faq__content">
            <p>
              Рекомендуем высокопроизводительные приводы ALUTECH Roteo. Они оснащены электроникой и отличаются
              изысканным
              дизайном, поэтому станут идеальным дополнением откатных ворот ALUTECH.
            </p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__header">
            <h4 class="faq__name" data-faq="03">Еще некоторый вопрос</h4>
          </div>
          <div class="faq__content">
            <p>
              Рекомендуем высокопроизводительные приводы ALUTECH Roteo. Они оснащены электроникой и отличаются
              изысканным
              дизайном, поэтому станут идеальным дополнением откатных ворот ALUTECH.
            </p>
          </div>
        </li>
      </ul>
      <ul class="faq__col list-reset">
        <li class="faq__item">
          <div class="faq__header">
            <h4 class="faq__name" data-faq="04">Чем отличаются сдвижные ворота от откатных?</h4>
          </div>
          <div class="faq__content">
            <p>
              Рекомендуем высокопроизводительные приводы ALUTECH Roteo. Они оснащены электроникой и отличаются
              изысканным
              дизайном, поэтому станут идеальным дополнением откатных ворот ALUTECH.
            </p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__header">
            <h4 class="faq__name" data-faq="05">Еще некоторый вопрос</h4>
          </div>
          <div class="faq__content">
            <p>
              Рекомендуем высокопроизводительные приводы ALUTECH Roteo. Они оснащены электроникой и отличаются
              изысканным
              дизайном, поэтому станут идеальным дополнением откатных ворот ALUTECH.
            </p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__header">
            <h4 class="faq__name" data-faq="06">Чем отличаются сдвижные ворота от откатных?</h4>
          </div>
          <div class="faq__content">
            <p>
              Рекомендуем высокопроизводительные приводы ALUTECH Roteo. Они оснащены электроникой и отличаются
              изысканным
              дизайном, поэтому станут идеальным дополнением откатных ворот ALUTECH.
            </p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__header">
            <h4 class="faq__name" data-faq="07">Еще некоторый вопрос</h4>
          </div>
          <div class="faq__content">
            <p>
              Рекомендуем высокопроизводительные приводы ALUTECH Roteo. Они оснащены электроникой и отличаются
              изысканным
              дизайном, поэтому станут идеальным дополнением откатных ворот ALUTECH.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>