<section class="figures">
  <h2 class="visually-hidden">title</h2>
  <div class="figures__wrapper">
    <div class="figures__items">
      <div class="figures__item">
        <h4 class="figures__name">2013 год</h4>
        <p class="figures__desc">работаем более 10 лет</p>
      </div>
      <div class="figures__item">
        <h4 class="figures__name">1000 м.кв.</h4>
        <p class="figures__desc">производственных
          площадей</p>
      </div>
      <div class="figures__item">
        <h4 class="figures__name">10 лет</h4>
        <p class="figures__desc">гарантия на нашу
          продукцию</p>
      </div>
      <div class="figures__item">
        <h4 class="figures__name">2 офиса</h4>
        <p class="figures__desc">в Ростове-на-Дону
          и Таганроге</p>
      </div>
      <div class="figures__item">
        <h4 class="figures__name">300</h4>
        <p class="figures__desc">объектов сдаем
          ежегодно</p>
      </div>
    </div>
    <div class="figures__items">
      <div class="figures__item">
        <h4 class="figures__name">2013 год</h4>
        <p class="figures__desc">работаем более 10 лет</p>
      </div>
      <div class="figures__item">
        <h4 class="figures__name">1000 м.кв.</h4>
        <p class="figures__desc">производственных
          площадей</p>
      </div>
      <div class="figures__item">
        <h4 class="figures__name">10 лет</h4>
        <p class="figures__desc">гарантия на нашу
          продукцию</p>
      </div>
      <div class="figures__item">
        <h4 class="figures__name">2 офиса</h4>
        <p class="figures__desc">в Ростове-на-Дону
          и Таганроге</p>
      </div>
      <div class="figures__item">
        <h4 class="figures__name">300</h4>
        <p class="figures__desc">объектов сдаем
          ежегодно</p>
      </div>
    </div>
  </div>
</section>