<section class="item-hero">
  <div class="heading item-hero__heading">
    <div class="container">
      <ul class="breadcrumbs list-reset">
        <li><a href="./">главная</a></li>
        <li><a href="./gates.html">ворота</a></li>
        <li><a>откатные автоматические ворота из профнастила 2 на 3</a></li>
      </ul>
      <h2 class="heading__title">откатные автоматические ворота из профнастила 2 на 3</h2>
    </div>
  </div>
  <div class="item-hero__content container">
    <div class="item-hero__gallery">
      <div class="item-hero__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/01.webp">
              <img src="./img/gallery/01.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/02.webp">
              <img src="./img/gallery/02.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/03.webp">
              <img src="./img/gallery/03.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/04.webp">
              <img src="./img/gallery/04.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/05.webp">
              <img src="./img/gallery/05.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/06.webp">
              <img src="./img/gallery/06.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/07.webp">
              <img src="./img/gallery/07.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/08.webp">
              <img src="./img/gallery/08.jpg" alt="">
            </picture>
          </div>
        </div>
      </div>

      <div class="item-hero__thumbs swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/01.webp">
              <img src="./img/gallery/01.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/02.webp">
              <img src="./img/gallery/02.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/03.webp">
              <img src="./img/gallery/03.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/04.webp">
              <img src="./img/gallery/04.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/05.webp">
              <img src="./img/gallery/05.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/06.webp">
              <img src="./img/gallery/06.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/07.webp">
              <img src="./img/gallery/07.jpg" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/gallery/08.webp">
              <img src="./img/gallery/08.jpg" alt="">
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="item-hero__chars item-chars">
      <ul class="list-reset item-chars__list">
        <li class="item-chars__item">
          <span class="item-chars__capture">конструкция</span>
          <span class="item-chars__value">Ворота, калитка</span>
        </li>
        <li class="item-chars__item">
          <span class="item-chars__capture">размер, мм</span>
          <span class="item-chars__value">4000 х 2000</span>
        </li>
        <li class="item-chars__item">
          <span class="item-chars__capture">материал</span>
          <span class="item-chars__value">Профнастил</span>
        </li>
        <li class="item-chars__item">
          <span class="item-chars__capture">Цвет</span>
          <span class="item-chars__value">Коричневый</span>
        </li>
        <li class="item-chars__item">
          <span class="item-chars__capture">Дополнительно</span>
          <span class="item-chars__value">Коричневый</span>
        </li>
        <li class="item-chars__item">
          <span class="item-chars__capture">автоматика</span>
          <span class="item-chars__value">Алютех</span>
        </li>
        <li class="item-chars__item">
          <span class="item-chars__capture">еще пункт</span>
          <span class="item-chars__value">Алютех</span>
        </li>
      </ul>
      <div class="item-chars__extra">
        <h3 class="desc item-chars__subtitle">Дополнительные работы</h3>
      </div>
      <ul class="list-reset list item-chars__points">
        <li>подготовка проема для калитки (опорный столб, свая)</li>
        <li>установка на подготовленное фундаментное основание</li>
        <li>подготовка фундаментного основания с использования винтовой сваи (1 шт.)</li>
        <li>швеллер окрашенный</li>
        <li>установка калитки</li>
      </ul>

      <div class="item-chars__term item-term">
        <span class="item-term__capture">
          срок: <span>21 день</span>
        </span>
        <span class="item-term__price">189 000 ₽</span>
      </div>
    </div>
  </div>
</section>