<div class="modal" data-modal-form>
  <div class="modal__window">
    <button class="btn-reset modal__close">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.35">
          <path
            d="M25.0507 4.68627L4.68606 25.0509C4.06124 25.6758 4.06129 26.6889 4.68606 27.3137C5.31088 27.9385 6.32398 27.9385 6.9488 27.3137L27.3135 6.94901C27.9383 6.32419 27.9383 5.31108 27.3135 4.68627C26.6887 4.06149 25.6756 4.06145 25.0507 4.68627Z"
            fill="#1C1C1C" />
          <path
            d="M4.68755 6.94863L25.0522 27.3133C25.677 27.9381 26.6902 27.9381 27.315 27.3133C27.9398 26.6885 27.9398 25.6754 27.315 25.0506L6.95029 4.68589C6.32547 4.06107 5.31236 4.06107 4.68755 4.68589C4.06277 5.31066 4.06273 6.32381 4.68755 6.94863Z"
            fill="#1C1C1C" />
        </g>
      </svg>
    </button>
    <h4 class="modal__title title2">Оставьте заявку</h4>
    <p class="modal__desc">
      Заполните форму и наш менеджер
      свяжется с Вами в ближайшее время.
    </p>
    <form action="post" class="modal-form modal__form">
      <input class="input modal__input input-reset" type="text" id="name" name="name" placeholder="Ваше имя">
      <input class="input modal__input input-reset" type="text" id="name" name="name" placeholder="Номер телефона">
      <button type="submit" class="btn btn-reset modal__btn">Оставить заявку</button>
    </form>

    <small class="modal__copy">
      Оставляя заявку вы соглашаетесь с <a href="#">Политикой конфиденциальности</a>
    </small>
  </div>
</div>