<section class="points">
  <div class="swiper points__slider">
    <div class="points__container swiper-wrapper">
      <div class="swiper-slide">
        <div class="point">
          <div class="point__figure">
            <div class="point__figure-square"></div>
            <span>1</span>
            <div class="point__images">
              <div class="point__img">
                <picture>
                  <source srcset="./img/points/01.webp">
                  <img srcset="./img/points/01.png">
                </picture>
              </div>
              <div class="point__img">
                <picture>
                  <source srcset="./img/points/02.webp">
                  <img srcset="./img/points/02.png">
                </picture>
              </div>
            </div>
          </div>
          <div class="point__content">
            <h4 class="title4 point__title"><span>Собственное</span><br>производство</h4>
            <p class="desc2 point__desc">
              Задача организации, в особенности же глубокий уровень погружения напрямую зависит от дальнейших
              направлений
              развития.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="point">
          <div class="point__figure">
            <div class="point__figure-square"></div>
            <span>2</span>
            <div class="point__images">
              <div class="point__img">
                <picture>
                  <source srcset="./img/points/01.webp">
                  <img srcset="./img/points/01.png">
                </picture>
              </div>
              <div class="point__img">
                <picture>
                  <source srcset="./img/points/02.webp">
                  <img srcset="./img/points/02.png">
                </picture>
              </div>
            </div>
          </div>
          <div class="point__content">
            <h4 class="title4 point__title">Гарантия<br><span>10 лет</span></h4>
            <p class="desc2 point__desc">
              Внезапно, многие известные личности и по сей день остаются уделом либералов, которые жаждут быть
              ассоциативно распределены по отраслям.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="point">
          <div class="point__figure">
            <div class="point__figure-square"></div>
            <span>3</span>
            <div class="point__images">
              <div class="point__img">
                <picture>
                  <source srcset="./img/points/01.webp">
                  <img srcset="./img/points/01.png">
                </picture>
              </div>
              <div class="point__img">
                <picture>
                  <source srcset="./img/points/02.webp">
                  <img srcset="./img/points/02.png">
                </picture>
              </div>
            </div>
          </div>
          <div class="point__content">
            <h4 class="title4 point__title">Более<br><span>1500 объектов</span></h4>
            <p class="desc2 point__desc">
              Вот вам яркий пример современных тенденций — постоянное информационно-пропагандистское обеспечение нашей
              деятельности является качественно.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="point">
          <div class="point__figure">
            <div class="point__figure-square"></div>
            <span>4</span>
            <div class="point__images">
              <div class="point__img">
                <picture>
                  <source srcset="./img/points/01.webp">
                  <img srcset="./img/points/01.png">
                </picture>
              </div>
              <div class="point__img">
                <picture>
                  <source srcset="./img/points/02.webp">
                  <img srcset="./img/points/02.png">
                </picture>
              </div>
            </div>
          </div>
          <div class="point__content">
            <h4 class="title4 point__title"><span>Сервисная</span><br>служба</h4>
            <p class="desc2 point__desc">
              Но высокотехнологичная концепция общественного уклада не даёт нам иного выбора, кроме определения
              глубокомысленных рассуждений.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>