<section class="requisites">
  <div class="container requisites__container">
    <div class="requisites__content">
      <h2 class="title2 requisites__title">
        Реквизиты
      </h2>
      <ul class="requisites__list list-reset">
        <li class="requisites__item req-item">

          <span class="req-item__name">ИНН</span>
          <div class="req-item__data">
            <div class="req-item__notify">Скопировано!</div>
            <span class="req-item__value">6319182317</span>
            <button class="btn-reset req-item__btn">
            </button>
          </div>
        </li>
        <li class="requisites__item req-item">
          <span class="req-item__name">ОГРН</span>
          <div class="req-item__data">
            <div class="req-item__notify">Скопировано!</div>
            <span class="req-item__value">1146319005250</span>
            <button class="btn-reset req-item__btn">
            </button>
          </div>
        </li>
        <li class="requisites__item req-item">
          <span class="req-item__name">КПП</span>
          <div class="req-item__data">
            <div class="req-item__notify">Скопировано!</div>
            <span class="req-item__value">631901001</span>
            <button class="btn-reset req-item__btn">
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="requisites__content">
      <h2 class="title2 requisites__title">
        <span>Банковские</span> Реквизиты
      </h2>
      <ul class="requisites__list list-reset">
        <li class="requisites__item req-item">
          <span class="req-item__name">р/с</span>
          <div class="req-item__data">
            <div class="req-item__notify">Скопировано!</div>
            <span class="req-item__value">40702810354400037308</span>
            <button class="btn-reset req-item__btn">
            </button>
          </div>
        </li>
        <li class="requisites__item req-item">
          <span class="req-item__name">к/с</span>
          <div class="req-item__data">
            <div class="req-item__notify">Скопировано!</div>
            <span class="req-item__value">30101810200000000607</span>
            <button class="btn-reset req-item__btn">
            </button>
          </div>
        </li>
        <li class="requisites__item req-item">
          <span class="req-item__name">БИК</span>
          <div class="req-item__data">
            <div class="req-item__notify">Скопировано!</div>
            <span class="req-item__value">043601607</span>
            <button class="btn-reset req-item__btn">
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>