<section class="steps">
  <div class="container">
    <h2 class="title2 steps__title">Этапы изготовления и установки откатных ворот</h2>
    <div class="steps__items">
      <article class="step steps__item" data-step="01">
        <h4 class="step__title">Замер и заключение<br>договора</h4>
        <p class="step__desc">
          Делаем предварительный расчет по телефону. Далее, если все устраивает, договариваемся о замере. Цена на
          замере, как правило, не изменяется.
        </p>
        <time class="step__time">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_34_1682)">
              <path
                d="M8 0C3.58869 0 0 3.58869 0 8C0 12.4113 3.58869 16 8 16C12.4113 16 16 12.4113 16 8C16 3.58866 12.4113 0 8 0ZM8 14.4C4.47109 14.4 1.6 11.5289 1.6 8C1.6 4.47109 4.47109 1.6 8 1.6C11.5289 1.6 14.4 4.47109 14.4 8C14.4 11.5289 11.5289 14.4 8 14.4ZM12 8C12 8.44181 11.6418 8.8 11.2 8.8H8C7.55822 8.8 7.2 8.44181 7.2 8V4C7.2 3.55822 7.55822 3.2 8 3.2C8.44181 3.2 8.8 3.55822 8.8 4V7.2H11.2C11.6418 7.2 12 7.55822 12 8Z"
                fill="#0B83F2" />
            </g>
            <defs>
              <clipPath id="clip0_34_1682">
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <span>срок 1-2 дня</span>
        </time>
      </article>
      <article class="step steps__item" data-step="02">
        <h4 class="step__title">Закупка<br>материалов</h4>
        <p class="step__desc">
          Делаем предварительный расчет по телефону. Далее, если все устраивает, договариваемся о замере. Цена на
          замере, как правило, не изменяется.
        </p>
        <time class="step__time">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_34_1682)">
              <path
                d="M8 0C3.58869 0 0 3.58869 0 8C0 12.4113 3.58869 16 8 16C12.4113 16 16 12.4113 16 8C16 3.58866 12.4113 0 8 0ZM8 14.4C4.47109 14.4 1.6 11.5289 1.6 8C1.6 4.47109 4.47109 1.6 8 1.6C11.5289 1.6 14.4 4.47109 14.4 8C14.4 11.5289 11.5289 14.4 8 14.4ZM12 8C12 8.44181 11.6418 8.8 11.2 8.8H8C7.55822 8.8 7.2 8.44181 7.2 8V4C7.2 3.55822 7.55822 3.2 8 3.2C8.44181 3.2 8.8 3.55822 8.8 4V7.2H11.2C11.6418 7.2 12 7.55822 12 8Z"
                fill="#0B83F2" />
            </g>
            <defs>
              <clipPath id="clip0_34_1682">
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <span>срок 1-2 дня</span>
        </time>
      </article>
      <article class="step steps__item" data-step="03">
        <h4 class="step__title">Производство</h4>
        <p class="step__desc">
          Делаем предварительный расчет по телефону. Далее, если все устраивает, договариваемся о замере. Цена на
          замере, как правило, не изменяется.
        </p>
        <time class="step__time">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_34_1682)">
              <path
                d="M8 0C3.58869 0 0 3.58869 0 8C0 12.4113 3.58869 16 8 16C12.4113 16 16 12.4113 16 8C16 3.58866 12.4113 0 8 0ZM8 14.4C4.47109 14.4 1.6 11.5289 1.6 8C1.6 4.47109 4.47109 1.6 8 1.6C11.5289 1.6 14.4 4.47109 14.4 8C14.4 11.5289 11.5289 14.4 8 14.4ZM12 8C12 8.44181 11.6418 8.8 11.2 8.8H8C7.55822 8.8 7.2 8.44181 7.2 8V4C7.2 3.55822 7.55822 3.2 8 3.2C8.44181 3.2 8.8 3.55822 8.8 4V7.2H11.2C11.6418 7.2 12 7.55822 12 8Z"
                fill="#0B83F2" />
            </g>
            <defs>
              <clipPath id="clip0_34_1682">
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <span>срок 1-2 дня</span>
        </time>
      </article>

      <article class="step steps__item" data-step="04">
        <h4 class="step__title">Заливка<br>фундамента</h4>
        <p class="step__desc">
          Делаем предварительный расчет по телефону. Далее, если все устраивает, договариваемся о замере. Цена на
          замере, как правило, не изменяется.
        </p>
        <time class="step__time">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_34_1682)">
              <path
                d="M8 0C3.58869 0 0 3.58869 0 8C0 12.4113 3.58869 16 8 16C12.4113 16 16 12.4113 16 8C16 3.58866 12.4113 0 8 0ZM8 14.4C4.47109 14.4 1.6 11.5289 1.6 8C1.6 4.47109 4.47109 1.6 8 1.6C11.5289 1.6 14.4 4.47109 14.4 8C14.4 11.5289 11.5289 14.4 8 14.4ZM12 8C12 8.44181 11.6418 8.8 11.2 8.8H8C7.55822 8.8 7.2 8.44181 7.2 8V4C7.2 3.55822 7.55822 3.2 8 3.2C8.44181 3.2 8.8 3.55822 8.8 4V7.2H11.2C11.6418 7.2 12 7.55822 12 8Z"
                fill="#0B83F2" />
            </g>
            <defs>
              <clipPath id="clip0_34_1682">
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <span>срок 1-2 дня</span>
        </time>
      </article>
      <article class="step steps__item" data-step="05">
        <h4 class="step__title">Установка</h4>
        <p class="step__desc">
          Делаем предварительный расчет по телефону. Далее, если все устраивает, договариваемся о замере. Цена на
          замере, как правило, не изменяется.
        </p>
        <time class="step__time">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_34_1682)">
              <path
                d="M8 0C3.58869 0 0 3.58869 0 8C0 12.4113 3.58869 16 8 16C12.4113 16 16 12.4113 16 8C16 3.58866 12.4113 0 8 0ZM8 14.4C4.47109 14.4 1.6 11.5289 1.6 8C1.6 4.47109 4.47109 1.6 8 1.6C11.5289 1.6 14.4 4.47109 14.4 8C14.4 11.5289 11.5289 14.4 8 14.4ZM12 8C12 8.44181 11.6418 8.8 11.2 8.8H8C7.55822 8.8 7.2 8.44181 7.2 8V4C7.2 3.55822 7.55822 3.2 8 3.2C8.44181 3.2 8.8 3.55822 8.8 4V7.2H11.2C11.6418 7.2 12 7.55822 12 8Z"
                fill="#0B83F2" />
            </g>
            <defs>
              <clipPath id="clip0_34_1682">
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <span>срок 1-2 дня</span>
        </time>
      </article>
      <article class="step steps__item" data-step="03">
        <h4 class="step__title">Сдача объекта и<br>подписание актов</h4>
        <p class="step__desc">
          Делаем предварительный расчет по телефону. Далее, если все устраивает, договариваемся о замере. Цена на
          замере, как правило, не изменяется.
        </p>
        <time class="step__time">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_34_1682)">
              <path
                d="M8 0C3.58869 0 0 3.58869 0 8C0 12.4113 3.58869 16 8 16C12.4113 16 16 12.4113 16 8C16 3.58866 12.4113 0 8 0ZM8 14.4C4.47109 14.4 1.6 11.5289 1.6 8C1.6 4.47109 4.47109 1.6 8 1.6C11.5289 1.6 14.4 4.47109 14.4 8C14.4 11.5289 11.5289 14.4 8 14.4ZM12 8C12 8.44181 11.6418 8.8 11.2 8.8H8C7.55822 8.8 7.2 8.44181 7.2 8V4C7.2 3.55822 7.55822 3.2 8 3.2C8.44181 3.2 8.8 3.55822 8.8 4V7.2H11.2C11.6418 7.2 12 7.55822 12 8Z"
                fill="#0B83F2" />
            </g>
            <defs>
              <clipPath id="clip0_34_1682">
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <span>срок 1-2 дня</span>
        </time>
      </article>
    </div>

    <p class="steps__desc">
      Установка откатных ворот с электроприводом имеет применение как в частном секторе, так и в промышленных сегментах.
      Благодаря своей конструктивной простоте, они легко
      перемещаются, даже при проблемах с электропитанием. В зимнее время не требуется тратить время на очистку снега,
      так как конструкция открывается без проблем.
      Автоматические откатные ворота функционируют в любых условиях, так как ролики размещены внутри балки, обеспечивая
      плавное движение.
    </p>
  </div>
</section>
