<section class="texture">
  <div class="container texture__container">
    <div class="texture__content">
      <h2 class="title2 texture__title">
        <span>Текстура</span>
        покрытия
        откатных ворот
      </h2>
      <div class="texture__items">
        <div class="texture__item">
          <div class="texture-item__color n011">
            <div>
              <picture>
                <source srcset="./img/texture/01.webp">
                <img src="./img/texture/01.png" alt="">
              </picture>
            </div>
          </div>
          <span class="texture-item__name">Шагрень</span>
        </div>
        <div class="texture__item">
          <div class="texture-item__color n022">
            <div>
              <picture>
                <source srcset="./img/texture/02.webp">
                <img src="./img/texture/02.png" alt="">
              </picture>
            </div>
          </div>
          <span class="texture-item__name">Матовая</span>
        </div>
        <div class="texture__item">
          <div class="texture-item__color n033">
            <div>
              <picture>
                <source srcset="./img/texture/03.webp">
                <img src="./img/texture/03.png" alt="">
              </picture>
            </div>
          </div>
          <span class="texture-item__name">Глянцевая</span>
        </div>
      </div>
    </div>
    <div class="texture__image">
      <picture>
        <source srcset="./img/texture/cover.webp">
        <img src="./img/texture/cover.png">
      </picture>
    </div>

  </div>
</section>